<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrsukpQOma5pJXKvLVRT7c3zUn6k3AViY</string>
	<key>GCM_SENDER_ID</key>
	<string>677302029618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RecoveryMilestoneTracker</string>
	<key>PROJECT_ID</key>
	<string>recovery-milestone-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>recovery-milestone-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677302029618:ios:d800cea79d8cbb20d49b2b</string>
</dict>
</plist>